body {
    text-align: center;
    font-family: 'Josefin Slab', serif;
    background: linear-gradient(#4B8AD7 ,#475e03);
    color: whitesmoke; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 800px;
}

.welcome {
    display: inline-block;
    align-items: center;
    position: relative;
    text-align: center;
    min-width: 350px;
    margin: 10px 10px 10px 0px ;
}

.welcome-text {
    position: absolute;
    left: 50%;
    margin-top: 10px;
    transform: translate(-50%, 0%);
    color: whitesmoke;
    text-shadow: 0 0 2px black;
    font-weight: 700;
    min-width: 350px;
    font-size: 17px
}

#kinder-sunny, #kinder-snow, #baghdaddies, #millennium-walkway {
    border: 5px solid black;
    border-radius: 10px; 
}

h3 {
    text-decoration: underline;
    text-shadow: 0 0 1px black;
    font-weight: 700;
    font-size: 25px;
}

.about-text {
    font-size: 20px;
    padding: 10px;
}
